<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <include file='Public:head'/>
  </head>
  <body style="padding:20px;">
      <div class="content-title">
        <div class="col-md-8">
            <a href="{:U('Rbac/addKeys')} "  class="btn btn-default" role="button"><span class="glyphicon glyphicon-save-file" aria-hidden="true"></span> 导出未使用密钥</a>
        </div>
        <div class="col-md-4">
        	<form class="form-horizontal" action="{:U('Rbac/addKeys')}" method="post">
	          	<div class="input-group">
	          	
		            <input type="text" class="form-control" placeholder="请输入新的密钥数量" name="in">
		            <span class="input-group-btn">
		              <button class="btn btn-default" type="submit">生成新的密钥</button>
		            </span>
		        </div><!-- /input-group -->
        	</form>
        </div><!-- /.col-lg-6 -->
      </div>
		

	<div class="content-table">

        <table class="table table-hover">

          <thead>

            <tr>

              <th  width="10%">ID</th>

              <th  width="20%">用户</th>

              <th  width="30%">密钥</th>

              <th  width="20%">生成时间</th>

              <th  width="20%">用户绑定时间</th>

            </tr>

          </thead>

          <tbody>

            <foreach name="keys" item="v">

              <tr>

                <th>{$v.id}</th>

                <th>{$v.u_id}</th>

                <th>{$v.key}</th>

                <th>{$v.create_time}</th>

                <th>{$v.use_time}</th>

              </tr>

            </foreach>

          </tbody>

        </table>

      </div>
    
  </body>
  <include file='Public:script'/>
</html>