<div class="content-title">
        <div class="col-md-8">
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="glyphicon glyphicon-user"></span>用户管理 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{:U('Rbac/user')}">用户列表</a></li>
              <li><a href="{:U('Rbac/addUser')}">添加管理员</a></li>
            </ul>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="glyphicon glyphicon-flag"></span>角色管理 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{:U('Rbac/role')}">角色列表</a></li>
              <li><a href="{:U('Rbac/addRole')}">添加角色</a></li>
            </ul>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="glyphicon glyphicon-ok-circle"></span>节点管理 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{:U('Rbac/node')}">节点列表</a></li>
              <li><a href="{:U('Rbac/addNode')}">添加应用</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="输入用户的昵称">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div>