<div id="nav">
  <div class="nav">
    <div class="content">
      <div class="login">
        <a href="{:U('Home/Index/index')}"><img src="__MODULE__/image/LOGO.png"></a>
      </div>
      <div class="app">
        <a href="{:U('Home/Photo/index')}">最新模板</a>
      </div>
      <div class="user">
        <if condition="$_SESSION['status'] != 0">
          <a href="{:U('User/Index/index',array('genre'=>1))}"><i class="icon iconfont">&#xe60f;</i>个人中心</a>
        </if>
      </div>
    </div>
  </div>
</div>
<!-- 错误提示框 -->
<div class="error_message">
  </div>
<!-- 灰色遮罩层 -->
<div id="shade" onclick="shade()">
</div>
<!-- 登陆弹出层 -->
<div id="login">
    <div class="login_option">
      <div class="login_option_a">
        <a href="javascript:void(0);" onclick="click_login_pop()">登陆</a>
      </div>
      <div class="login_option_b">
        <a href="{:U('User/login')}">注册</a>
      </div>
    </div>
    <div class="login_action" id="login_login">
      <div class="login_action_a">
        <form  action="{:U('User/debark')}" method="post" class="login">
          <div class="controls">
            <input type="username" name="username" id="login_username" placeholder="账号">
            <input type="password" name="password" id="login_password" placeholder="请输入密码">
          </div>
          <div class="submit">
            <button id="submit" type="submit">登　　陆</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>