
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-yunxiazai:before { content: "\e60e"; }
.icon-muma:before { content: "\e61f"; }
.icon-gengduo:before { content: "\e608"; }
.icon-xiazai:before { content: "\e609"; }
.icon-qq:before { content: "\e600"; }
.icon-chakanxiangxi:before { content: "\e611"; }
.icon-appreciate:before { content: "\e618"; }
.icon-favorfill:before { content: "\e619"; }
.icon-favor:before { content: "\e61a"; }
.icon-location:before { content: "\e60a"; }
.icon-unfold:before { content: "\e61e"; }
.icon-back:before { content: "\e614"; }
.icon-right:before { content: "\e617"; }
.icon-home:before { content: "\e60b"; }
.icon-fenlei:before { content: "\e601"; }
.icon-appreciatefill:before { content: "\e61b"; }
.icon-duocengjiegou:before { content: "\e613"; }
.icon-fenxiangliebiao:before { content: "\e615"; }
.icon-tuijianliebiao:before { content: "\e622"; }
.icon-fenlei1:before { content: "\e602"; }
.icon-xinlangweibo:before { content: "\e603"; }
.icon-yanse:before { content: "\e604"; }
.icon-biaoqian:before { content: "\e60c"; }
.icon-quanpingchakan:before { content: "\e612"; }
.icon-hunshalifu:before { content: "\e620"; }
.icon-meinvxiezhen:before { content: "\e621"; }
.icon-updata:before { content: "\e60d"; }
.icon-gerenxinxi:before { content: "\e60f"; }
.icon-guanwangicon31319:before { content: "\e606"; }
.icon-rencaikufenlei:before { content: "\e607"; }
.icon-guanbi:before { content: "\e610"; }
.icon-jia:before { content: "\e61d"; }
.icon-shejiguifan:before { content: "\e616"; }
